#encoding: UTF-8

  <div id="funcionamiento">

    <div class="descripcion">
      <h1>¿Cómo funciona nuestro sistema?</h1>

      <ol>
        <li>Desde nuestra página web, cualquier usuario puede <strong>buscar</strong> y obtener información de las plazas disponibles.</li>
        <li>Posteriormente puede <strong>registrarse</strong> y <strong>realizar una reserva</strong>, desde una hora, a varios meses, en las franjas horarias indicadas por su propietario.</li>
        <li>Con una semana de antelación, nuestro sistema procede al <strong>cobro de la reserva</strong>, el usuario debe hacer un ingreso para disponer del <strong>saldo necesario</strong>.</li>
        <li>Durante la franja horaria reservada, el usuario puede <strong>acceder con su móvil</strong> haciendo una llamada sin coste al número asociado al dispositivo de apertura del garaje.</li>
      </ol>
    </div>
  </div>

  <div id="ventajas">
    <div class="descripcion">
      <h2>Descubre las ventajas de ofrecer tu plaza en aparcame.com</h2>
      <ul>
        <li><strong>Instalación gratuita</strong>:
          Aprovecha nuestra promoción de lanzamiento y date de alta sin coste alguno ni para ti ni para tu comunidad.
        </li>

        <li><strong>Totalmente seguro</strong>: Sabemos quién está ocupando tu plaza en todo momento y gestionaremos cualquier incidencia
          durante el tiempo que ofrezcas tu plaza.</li>

        <li><strong>Todo para tu comodidad</strong>: Nos encargamos de cobrar al usuario e ingresar los beneficios en tu cuenta. Instalación y  matenimiento de equipos, publicidad y promoción, gestión de incidencias...</li>
      </ul>
    </div></div>

  <div id="alta">
    <div class="descripcion">
      <h2>Gana dinero con tu plaza, en tres sencillos pasos</h2>
      <ol>
        <li><strong>Ponte en contacto con nosotros</strong>:
          tomaremos los datos de tu plaza para introducirla en nuestro sistema e instalar el dispositivo de apertura del portón.</li>

        <li><strong>Dinos en qué momentos está disponible tu plaza</strong>:
          en el momento del alta, por teléfono, o a través de nuestra pagina web puedes comunicarnos en qué días y horas podemos reservar tu plaza.</li>

        <li><strong>Comienza a ganar dinero con tu plaza</strong>: aparcame.com irá acumulando el saldo producido por tu plaza. Puedes usarlo para reservar otras plazas o transferirlo a tu cuenta bancaria cuando quieras.</li>
      </ol>

    </div>
  </div>
